Body{
	background: black;
	text-align: center;
}
#imagem:{
	opacity: 1;
	transition: 400ms;
}
#imagem:hover{
	opacity:0.1;
}

.copyright{
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	color: silver;
}

